* {
    // n-input样式
    --border-hover: 1px solid #409EFF;
    --border-focus: 1px solid #409EFF;
    --box-shadow-focus: 0 0 0 2px #409EFF33;
    // 分页边框样式
    --item-border-active: #409EFF;
    // --caret-color: #409EFF;
    // --border-active: #409EFF;
    // --border-hover: #409EFF;
    // --border-focus: #409EFF;
    // --box-shadow-focus: #409EFF33;
    // --box-shadow-active: #409EFF33;
}